<div class="panel panel-default">
    <div class="panel-body">
            <div class="row">
                <h1 class="page-header">Client Form</h1>
            </div>
            <div class="row" *ngIf="!!questions">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" *ngFor="let error of serverErrors">{{ error }}</li>
                </ul>
            </div>
            <div class="row">
                <dynamic-form [questions]="questions"></dynamic-form>
            </div>
    </div>
</div>